        * {
            margin: 0;
            padding: 0;
        }

        .btnnav {
            border-radius: 10px;
            margin-left: 20px;
            height: 30px;
            width: 130px;
            color: rgb(0, 0, 0);
        }

        .btnnav:hover {
            background-color: olive;
            color: goldenrod;
        }

        .btnfooter {
            margin-left: 10px;
            height: 50px;
            width: 150px;
            background-color:white;
            color: goldenrod;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            border-radius: 40px;
            border: 2px solid olive;
        }
        .btnfooter.hover {
            background-color: white
        }
        a{
            text-decoration: none;
        }
        .card{
        
            color: black;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
                @media(max-width:750px){
            button{
                width: 50px!important;
                height: 30px!important;
            }
            
        }
    
/* o @media serve para alterar as propriedades das tags com base no tamnho do dispositivo
para garantir a responsividade do site, temos que verificar como fica a estilização
em varios tamnhos de telas diferentes, pode ser que no computador fique ok, porem quando acessado
pelo celular o site quebre. Nesse caso será necessário aplicar ajustes no tamanho de tela com
o @media()

* Usamos o !important para forçar a estilização em uma tag, como a tag pode ter id e varias classes
o html e css precisam saber qual estilo aplicar, forçamos isso usando o !important no final do atributo

*/

#div1{
    background-color: lightyellow;
    height: 80%;
    width: 80%;
    border: 3px solid goldenrod;
    border-radius: 40px;
    display: flex;
    align-items: center;
    
    flex-direction: column;
}

#topo{
    background-color: olive;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgsection{
    border-radius: 20px;
    border: 3px solid goldenrod;
}

.nos{
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 69.5vh;
    width: 30%;
    border: 3px solid goldenrod;

}
